.chat-room-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.room-name {
  margin-top: 0;
}

.messages-container {
  flex: 1;
  min-height: 100px;
  overflow: auto;
  border: 1px solid black;
  border-radius: 7px 7px 0 0;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.new-message-input-field {
  height: 200px;
  max-height: 50%;
  font-size: 20px;
  padding: 8px 12px;
  font-family: sans-serif;
  resize: none;
}

.hide {
  display: none;
}
.new-message-file-input-field {
  font-size: 18px;
  font-weight: 600;
  color: white;
  background: #333;
  cursor: pointer;
  font-family: sans-serif;
  padding: 14px;
  margin: 10px 0px;
  border: none;
  text-align: center;
}

.new-message-image-preview {
  font-family: sans-serif;
  display: block;
}
.new-message-image-preview > div {
  display: flex;
  padding: 1em 0;
  justify-content: space-between;
}

.new-message-image-preview > img {
  width: 100%;
  max-width: 400px;
}

.message-item {
  width: 55%;
  margin: 8px;
  padding: 12px 8px;
  word-break: break-word;
  border-radius: 4px;
  color: white;
}

.my-message {
  background-color: rgb(0, 132, 255);
  margin-left: auto;
}

.received-message {
  background-color: #3f4042;
  margin-right: auto;
}

.message-image {
  max-width: 100%;
}
.edit-message-button {
  font-size: 28px;
  font-weight: 600;
  color: white;
  background: rgb(49, 88, 162);
  padding: 24px 12px;
  border: none;
}

.send-message-button {
  font-size: 28px;
  font-weight: 600;
  color: white;
  background: #31a24c;
  padding: 24px 12px;
  border: none;
}

.messages-container,
.new-message-input-field,
.send-message-button {
  border-color: #9a9a9a;
}

.menu-toggle {
  position: absolute;
  border: none;
  color: #ffffff;
  right: 12px;
  margin-top: -10px;
  background: rgb(5, 44, 80, 0.6);
  border-radius: 4px;
  width: 20px;
  height: 20px;
}

.menu-container {
  background: rgb(5, 44, 80);
  right: 10px;
  position: absolute;
  padding: 1em;
  margin-top: 14px;
  z-index: 100;
}

.menu-container > button {
  background: none;
  border: none;
  color: #ffffff;
  padding: 5px 20px;
  text-decoration: underline;
  display: block;
}
